[submodule "implementations/graal"]
	path = implementations/graal
	url = https://github.com/smarr/GraalVM.git
[submodule "implementations/TruffleSOM"]
	path = implementations/TruffleSOM
	url = https://github.com/smarr/TruffleSOM
[submodule "implementations/RTruffleSOM"]
	path = implementations/RTruffleSOM
	url = https://github.com/smarr/RTruffleSOM
[submodule "implementations/T-baseline"]
	path = implementations/T-baseline
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-args-in-frame"]
	path = implementations/T-without-args-in-frame
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-blocks-without-context"]
	path = implementations/T-without-blocks-without-context
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-catch-nonlocal-return-node"]
	path = implementations/T-without-catch-nonlocal-return-node
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-control-specialization"]
	path = implementations/T-without-control-specialization
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-custom-PICs"]
	path = implementations/T-without-custom-PICs
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-eager-primitives"]
	path = implementations/T-without-eager-primitives
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-global-caching-and-opt"]
	path = implementations/T-without-global-caching-and-opt
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-local-nonlocal-var-distinction"]
	path = implementations/T-without-local-nonlocal-var-distinction
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-object-layout"]
	path = implementations/T-without-object-layout
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-unessential-lowering-prims"]
	path = implementations/T-without-unessential-lowering-prims
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/T-without-var-access-specialization"]
	path = implementations/T-without-var-access-specialization
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/R-without-catch-nonlocal-return-node"]
	path = implementations/R-without-catch-nonlocal-return-node
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/R-without-control-specialization"]
	path = implementations/R-without-control-specialization
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/R-without-custom-PICs"]
	path = implementations/R-without-custom-PICs
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/R-without-global-caching-and-opt"]
	path = implementations/R-without-global-caching-and-opt
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/R-without-local-nonlocal-var-distinction"]
	path = implementations/R-without-local-nonlocal-var-distinction
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/R-without-splitting-frame-variables"]
	path = implementations/R-without-splitting-frame-variables
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/R-baseline"]
	path = implementations/R-baseline
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/R-without-blocks-without-context"]
	path = implementations/R-without-blocks-without-context
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/T-minimal"]
	path = implementations/T-minimal
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/R-minimal"]
	path = implementations/R-minimal
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/R-minimal-without-jit-annotations"]
	path = implementations/R-minimal-without-jit-annotations
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/R-without-unessential-lowering-prims"]
	path = implementations/R-without-unessential-lowering-prims
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/classic-benchmarks"]
	path = implementations/classic-benchmarks
	url = https://github.com/smarr/Classic-Benchmarks.git
